# Dependencies
node_modules/
/.pnp
.pnp.js

# Expo
.expo/
dist/
web-build/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log

# Environment variables
.env
.env.local
.env.development
.env.production
.env.staging
!.env.example


# TypeScript
*.tsbuildinfo

# Signing & credentials
*.jks
*.p8
*.p12
*.key
*.mobileprovision
google-services.json
GoogleService-Info.plist

# Tests
coverage/

# IDEs
.idea/
.vscode/
*.iml
*.swp

# OS
.DS_Store
Thumbs.db